<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xjt.movie.mapper.TMovieCommentMapper">
    <select id="selectAllCommentsByMovieId" resultType="map" parameterType="string">
		SELECT
          c.*,
          u.user_id,
          u.`username`,
          u.`avatar`
        FROM
          t_comment c
          LEFT JOIN t_movie m
            ON c.`movie_id` = m.`movie_id`
          LEFT JOIN t_user u
            ON c.`user_id` = u.`user_id`
        WHERE c.`movie_id` = #{movieId} AND c.`parent_comment_id`= #{parentId}
        ORDER BY c.`create_time` DESC
	</select>

</mapper>